.custom-shape-divider-top-1666990874 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1666990874 svg {
    position: relative;
    display: block;
    width: calc(142% + 1.3px);
    height: 176px;
}

.custom-shape-divider-top-1666990874 .shape-fill {
    fill: #FFF;
}